/**
 * @Description: 全局CSS变量定义
 * @Author: 陈思宇
 * @Date: 2026-03-11 16:28:00
 * @LastEditors: 陈思宇
 * @LastEditTime: 2026-03-11 19:35:00
 */
:root{
  --sidebar-bg-color: #26211e;
  --drop-down-item-color: #ffffff;
  --navbar-bg-color: #d96633;
  --navbar-border-bottom-color: #e88b58;
  /* 字体大小 */
  /* 极小 */
  --fs-xs: 12px;
  /* 标准 */
  --fs-md: 14px;

  --sidebar-menu-fs: var(--fs-md);
  --drop-down-item-fs: var(--fs-md);

  /* 高度 */
  --h-md: 50px;
  --h-lg:64px;

  --drop-down-item-h: var(--h-md);
  --navbar-h: var(--h-md);

  /* 间距 */
  --spacing-sm: 8px;
  --spacing-md: 20px;
  --spacing-xl: 44px;

  --drop-down-item-padding: 0 var(--spacing-xl) 0 var(--spacing-md);
  --drop-down-item-gap: var(--spacing-sm);
  --appbrand-padding-left: var(--spacing-md);

  /* 图标大小 */
  --icon-md: 18px;

  --drop-down-item-icon-size: var(--icon-md);

    /* 粗细 */
  --border-width-md: 1px;

  --navbar-border-bottom: var(--navbar-border-bottom-color) var(--border-width-md) solid;
}